.mainmain{
    display: flex;
    justify-content: space-between;
}


.maincontainer{
    display: flex;
    display: inline;
    flex-grow: 1;

}

.maincontainer2{
    display: flex;
    display: inline;

}

.linkbox{
    display: inline;
    
}

.link{
    background-color: BLack;
    padding: 5px;
    color: white;
}
a{
    text-decoration: none;
}

h1{
    background-color: BLack;
    color: white;
}