body{
    margin: 0;
    padding: 0;
    background-color: gray;
}
.container{
    background-color: lightgreen;
    padding: 0px;
    width: 300px;
}


.maincontainer{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
}

.container{
flex:1 1 auto;
}