.maincontainer{
    display: flex;

}
.linkbox{
    flex: 1;
    display: inline;
}

.link{
    background-color: BLack;
    padding: 5px;
    color: white;
}
a{
    text-decoration: none;
}
.foodimg{
    width: 100px;
    height: 100px;
}

h1{
    background-color: BLack;
    color: white;
}